In [1]:
# Mount Google Drive (if not already mounted)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#!/usr/bin/env python3
"""
FINAL RECOMMENDED PIPELINE (Code4 + Best Diagnostics from Code3)
===============================================================

Ecuador Climate Data Cleaning for EVT (Google Colab)

What this script does
---------------------
✅ EVT-safe cleaning (NO outlier removal, NO imputation)
✅ Memory-safe ingestion (chunked)
✅ Robust datetime parsing for dt_iso strings like:
      '1979-01-01 00:00:00 +0000 UTC'
✅ Local time conversion using row-wise timezone offset (seconds)
✅ Stores fecha_local as NAIVE local clock time (tz removed) to avoid misleading "+00:00"
✅ Fixes city name typo: 'Lago Agrío' -> 'Lago Agrio' (removes Spanish tilde)
✅ Drops only globally 100% null columns (detected, not hard-coded)
✅ Optimizes dtypes: float32, downcast ints, categories for low-cardinality strings
✅ Sort output by city_name, fecha_local (global) using:
      chunk -> per-city parts -> per-city sort -> merge
✅ Exports Parquet (Snappy): data_clima_clean.parquet

Diagnostics added (best parts of Code3, actionable not spammy)
--------------------------------------------------------------
- Parse failure count
- Timezone mismatch count (fecha_local shift check)
- Global missingness summary (top columns)
- Per-city row counts
- Per-city timezone distribution (counts and percentages)
- Duplicate timestamps per city (counts + rate) based on fecha_local
- Max time gap per city (days) in fecha_local
- Basic EVT preview for selected variables (min/max/quantiles) WITHOUT filtering

Paths
-----
Input : /content/drive/MyDrive/extreme-climate-forecasting/data/data_clima.csv
Output: /content/drive/MyDrive/extreme-climate-forecasting/data/data_clima_clean.parquet

Temp dirs:
  /content/drive/MyDrive/extreme-climate-forecasting/data/_tmp_evt_city_parts_final
  /content/drive/MyDrive/extreme-climate-forecasting/data/_tmp_evt_city_sorted_final
"""

from __future__ import annotations

import gc
import shutil
from pathlib import Path
from typing import Dict, List, Optional, Tuple

import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.dataset as ds
import pyarrow.parquet as pq


# =============================================================================
# CONFIG
# =============================================================================
DATA_DIR = Path("/content/drive/MyDrive/extreme-climate-forecasting/data/")
CSV_PATH = DATA_DIR / "data_clima.csv"
OUT_PARQUET = DATA_DIR / "data_clima_clean.parquet"

TMP_PARTS_DIR = DATA_DIR / "_tmp_evt_city_parts_final"
TMP_SORTED_DIR = DATA_DIR / "_tmp_evt_city_sorted_final"

CHUNKSIZE = 300_000  # reduce if RAM errors

CATEGORICAL_COLS = ["city_name", "weather_main", "weather_description", "weather_icon"]

# Variables to summarize for EVT preview (non-destructive)
EVT_PREVIEW_FLOATS = ["temp", "rain_1h", "rain_3h", "wind_gust", "wind_speed"]
EVT_PREVIEW_Q = [0.95, 0.99]


# =============================================================================
# HELPERS
# =============================================================================
def ensure_clean_dir(path: Path) -> None:
    if path.exists():
        shutil.rmtree(path)
    path.mkdir(parents=True, exist_ok=True)


def parse_dt_iso_to_utc(dt_iso: pd.Series) -> pd.Series:
    """
    Parse dt_iso strings like:
      '1979-01-01 00:00:00 +0000 UTC'
    into timezone-aware UTC datetimes.

    We strip trailing ' UTC' and parse with explicit format for speed & consistency.
    """
    s = dt_iso.astype("string").str.replace(" UTC", "", regex=False)
    return pd.to_datetime(
        s,
        format="%Y-%m-%d %H:%M:%S %z",
        errors="coerce",
        utc=True,
    )


def optimize_dtypes(df: pd.DataFrame) -> pd.DataFrame:
    """Downcast numeric types and set low-cardinality objects to category (no rounding)."""
    # float64 -> float32
    for c in df.select_dtypes(include=["float64"]).columns:
        df[c] = df[c].astype("float32")

    # int64 -> smallest safe int
    for c in df.select_dtypes(include=["int64"]).columns:
        df[c] = pd.to_numeric(df[c], downcast="integer")

    # categories
    for c in CATEGORICAL_COLS:
        if c in df.columns:
            df[c] = df[c].astype("category")

    return df


def reorder_columns(df: pd.DataFrame) -> pd.DataFrame:
    """Identifiers/time -> location -> remaining columns."""
    id_time = [
        "city_name",
        "dt",
        "dt_iso",
        "dt_utc",
        "timezone",
        "fecha_local",
        "year",
        "month",
        "day",
        "hour",
    ]
    location = ["lat", "lon"]

    ordered = [c for c in id_time if c in df.columns] + [c for c in location if c in df.columns]
    remaining = [c for c in df.columns if c not in set(ordered)]
    return df[ordered + remaining]


def update_null_stats(df: pd.DataFrame, null_counts: Dict[str, int], nonnull_counts: Dict[str, int]) -> None:
    n = len(df)
    for c in df.columns:
        miss = int(df[c].isna().sum())
        null_counts[c] = null_counts.get(c, 0) + miss
        nonnull_counts[c] = nonnull_counts.get(c, 0) + (n - miss)


def update_counts(counts: Dict[str, int], series: pd.Series) -> None:
    vc = series.value_counts(dropna=False)
    for k, v in vc.items():
        key = "__NA__" if pd.isna(k) else str(k)
        counts[key] = counts.get(key, 0) + int(v)


def write_city_parts(chunk: pd.DataFrame, base_dir: Path, part_counter: Dict[str, int]) -> None:
    """
    Write a chunk into per-city parquet parts:
      base_dir/city_name=Quito/part-000001.parquet
    """
    city_series = chunk["city_name"].astype("string")

    for city in city_series.unique():
        if pd.isna(city):
            city_key = "__NA__"
            mask = city_series.isna()
        else:
            city_key = str(city)
            mask = (city_series == city_key)

        df_city = chunk.loc[mask].copy()

        out_dir = base_dir / f"city_name={city_key}"
        out_dir.mkdir(parents=True, exist_ok=True)

        part_counter.setdefault(city_key, 0)
        part_counter[city_key] += 1
        out_file = out_dir / f"part-{part_counter[city_key]:06d}.parquet"

        pq.write_table(pa.Table.from_pandas(df_city, preserve_index=False), out_file, compression="snappy")
        del df_city

    del city_series
    gc.collect()


def safe_quantiles(series: pd.Series, q_list: List[float]) -> Dict[float, float]:
    """Compute quantiles on non-null data; return empty if no data."""
    s = series.dropna()
    if len(s) == 0:
        return {}
    return {q: float(s.quantile(q)) for q in q_list}


# =============================================================================
# MAIN PIPELINE
# =============================================================================
def clean_evt_pipeline(csv_path: Path, out_parquet: Path, chunksize: int = 300_000) -> None:
    assert csv_path.exists(), f"CSV not found: {csv_path}"

    ensure_clean_dir(TMP_PARTS_DIR)
    ensure_clean_dir(TMP_SORTED_DIR)

    # Global counters/stats
    total_rows_in = 0
    total_rows_out = 0

    null_counts: Dict[str, int] = {}
    nonnull_counts: Dict[str, int] = {}

    dt_parse_fail_count = 0
    tz_mismatch_count = 0

    min_fecha_local: Optional[pd.Timestamp] = None
    max_fecha_local: Optional[pd.Timestamp] = None

    city_counts: Dict[str, int] = {}
    timezone_counts: Dict[str, Dict[int, int]] = {}  # city -> {tz_offset: count}

    # EVT preview aggregations (approx: keep global min/max and quantiles on a sample)
    evt_minmax: Dict[str, Tuple[Optional[float], Optional[float]]] = {v: (None, None) for v in EVT_PREVIEW_FLOATS}
    evt_sample: Dict[str, List[float]] = {v: [] for v in EVT_PREVIEW_FLOATS}
    SAMPLE_PER_CHUNK = 3000  # keep it small; used for quantiles

    part_counter: Dict[str, int] = {}

    print("=== Phase 1: Chunked transform + per-city partition write ===")
    reader = pd.read_csv(csv_path, chunksize=chunksize)

    for i, chunk in enumerate(reader, start=1):
        total_rows_in += len(chunk)

        # Required columns
        for col in ("dt_iso", "timezone", "city_name"):
            if col not in chunk.columns:
                raise ValueError(f"Missing required column: {col}")

        # Fix city name typo: 'Lago Agrío' -> 'Lago Agrio' (remove Spanish tilde)
        chunk["city_name"] = chunk["city_name"].str.replace("Lago Agrío", "Lago Agrio", regex=False)

        # Parse dt_iso -> dt_utc
        chunk["dt_utc"] = parse_dt_iso_to_utc(chunk["dt_iso"])
        bad_dt = chunk["dt_utc"].isna()
        dt_parse_fail_count += int(bad_dt.sum())

        # Shift to local time using timezone seconds, then remove tz marker -> naive local clock time
        shifted = chunk["dt_utc"] + pd.to_timedelta(chunk["timezone"], unit="s")
        chunk["fecha_local"] = shifted.dt.tz_localize(None)

        # Extract components
        chunk["year"] = chunk["fecha_local"].dt.year
        chunk["month"] = chunk["fecha_local"].dt.month
        chunk["day"] = chunk["fecha_local"].dt.day
        chunk["hour"] = chunk["fecha_local"].dt.hour

        # Timezone sanity check
        valid = chunk["dt_utc"].notna()
        delta_sec = (shifted.loc[valid] - chunk.loc[valid, "dt_utc"]).dt.total_seconds()
        tz_mismatch = (delta_sec != chunk.loc[valid, "timezone"].astype("float64"))
        tz_mismatch_count += int(tz_mismatch.sum())

        # Global date range
        fl = chunk["fecha_local"]
        if fl.notna().any():
            cmin, cmax = fl.min(), fl.max()
            min_fecha_local = cmin if (min_fecha_local is None or cmin < min_fecha_local) else min_fecha_local
            max_fecha_local = cmax if (max_fecha_local is None or cmax > max_fecha_local) else max_fecha_local

        # Null stats BEFORE dropping (so we can detect globally 100% null)
        update_null_stats(chunk, null_counts, nonnull_counts)

        # Per-city counts and timezone distribution
        update_counts(city_counts, chunk["city_name"].astype("string"))

        # timezone per city
        city_ser = chunk["city_name"].astype("string")
        tz_ser = chunk["timezone"]
        # lightweight group count per chunk
        tmp = pd.DataFrame({"city": city_ser, "tz": tz_ser})
        grp = tmp.groupby(["city", "tz"]).size()
        for (c, tz), cnt in grp.items():
            c_key = "__NA__" if pd.isna(c) else str(c)
            timezone_counts.setdefault(c_key, {})
            timezone_counts[c_key][int(tz)] = timezone_counts[c_key].get(int(tz), 0) + int(cnt)
        del tmp, grp

        # EVT preview: min/max and small reservoir sample per chunk
        for v in EVT_PREVIEW_FLOATS:
            if v in chunk.columns:
                s = chunk[v]
                # update min/max
                s_non = s.dropna()
                if len(s_non) > 0:
                    vmin, vmax = float(s_non.min()), float(s_non.max())
                    cur_min, cur_max = evt_minmax[v]
                    evt_minmax[v] = (
                        vmin if cur_min is None else min(cur_min, vmin),
                        vmax if cur_max is None else max(cur_max, vmax),
                    )

                    # sample for quantiles
                    take = min(SAMPLE_PER_CHUNK, len(s_non))
                    if take > 0:
                        evt_sample[v].extend(s_non.sample(n=take, random_state=42).astype("float64").tolist())

        # Optimize dtypes & reorder
        chunk = optimize_dtypes(chunk)
        chunk = reorder_columns(chunk)

        # Partition write
        write_city_parts(chunk, TMP_PARTS_DIR, part_counter)

        total_rows_out += len(chunk)

        del shifted, chunk
        gc.collect()

        if i % 5 == 0:
            print(f"  processed rows so far: {total_rows_in:,}")

    # Determine globally 100% null columns (rule-based)
    all_null_cols = sorted([c for c, nn in nonnull_counts.items() if nn == 0])

    print("\n=== Phase 2: Per-city sort + diagnostics (duplicates, max gap) ===")
    city_dirs = sorted(TMP_PARTS_DIR.glob("city_name=*"), key=lambda p: p.name)
    sorted_city_files: List[Path] = []

    # City diagnostics computed on sorted per-city data (robust and actionable)
    dup_counts: Dict[str, int] = {}
    dup_rates: Dict[str, float] = {}
    max_gap_days: Dict[str, Optional[int]] = {}

    for city_dir in city_dirs:
        city_name = city_dir.name.split("=", 1)[1]

        dataset = ds.dataset(str(city_dir), format="parquet")
        table = dataset.to_table()
        df_city = table.to_pandas()

        # Drop globally 100% null columns
        drop_cols = [c for c in all_null_cols if c in df_city.columns]
        if drop_cols:
            df_city.drop(columns=drop_cols, inplace=True)

        # Sort by fecha_local (within city)
        df_city.sort_values(["fecha_local"], ascending=True, inplace=True, kind="mergesort")

        # --- Diagnostics ---
        # Duplicate timestamps within city (fecha_local)
        if "fecha_local" in df_city.columns:
            dups = int(df_city["fecha_local"].duplicated(keep=False).sum())
            dup_counts[city_name] = dups
            dup_rates[city_name] = (dups / len(df_city) * 100.0) if len(df_city) else 0.0

            # Max gap in days between consecutive timestamps (ignoring duplicates)
            # Use unique sorted timestamps for gap computation
            ts = df_city["fecha_local"].dropna().drop_duplicates().sort_values()
            if len(ts) >= 2:
                gaps = ts.diff().dropna()
                # convert to days
                max_gap = int(np.ceil(gaps.max() / np.timedelta64(1, "D")))
                max_gap_days[city_name] = max_gap
            else:
                max_gap_days[city_name] = None

        # Re-optimize and reorder after concatenation
        df_city = optimize_dtypes(df_city)
        df_city = reorder_columns(df_city)

        out_city = TMP_SORTED_DIR / f"{city_name}.parquet"
        pq.write_table(pa.Table.from_pandas(df_city, preserve_index=False), out_city, compression="snappy")
        sorted_city_files.append(out_city)

        del table, df_city
        gc.collect()

        print(f"  sorted city: {city_name}")

    print("\n=== Phase 3: Merge sorted city files into single Parquet (Snappy) ===")
    if out_parquet.exists():
        out_parquet.unlink()

    writer = None
    try:
        for city_file in sorted(sorted_city_files, key=lambda p: p.stem):
            t = pq.read_table(city_file)
            if writer is None:
                writer = pq.ParquetWriter(out_parquet, t.schema, compression="snappy")
            writer.write_table(t)
        print(f"✅ Wrote: {out_parquet}")
    finally:
        if writer is not None:
            writer.close()

    # =============================================================================
    # FINAL REPORT
    # =============================================================================
    print("\n=== VALIDATION REPORT ===")
    print(f"Input rows:  {total_rows_in:,}")
    print(f"Output rows: {total_rows_out:,}")
    print("✅ No observation loss" if total_rows_in == total_rows_out else "⚠️ Row count mismatch!")

    print(f"\nDatetime parse failures (dt_iso -> dt_utc): {dt_parse_fail_count:,}")
    print(f"Timezone mismatches (shifted - dt_utc != timezone): {tz_mismatch_count:,}")

    print("\nLocal-time range (fecha_local, naive local time):")
    print(f"  min: {min_fecha_local}")
    print(f"  max: {max_fecha_local}")

    print("\nGlobally 100% null columns detected (dropped):")
    print(all_null_cols if all_null_cols else "(none)")

    # Missingness (top 15)
    miss_df = pd.DataFrame({
        "column": list(null_counts.keys()),
        "missing_count": list(null_counts.values()),
        "missing_pct": [100.0 * null_counts[c] / total_rows_in for c in null_counts.keys()],
    }).sort_values("missing_pct", ascending=False)

    print("\nMost-missing columns (top 15):")
    print(miss_df.head(15).to_string(index=False))

    print("\nCity counts:")
    for c in sorted(city_counts.keys()):
        print(f"  {c}: {city_counts[c]:,}")

    # Timezone distribution per city (compact)
    print("\nTimezone distribution per city (seconds offset):")
    for c in sorted(timezone_counts.keys()):
        total = sum(timezone_counts[c].values())
        parts = []
        for tz in sorted(timezone_counts[c].keys()):
            cnt = timezone_counts[c][tz]
            parts.append(f"{tz}:{cnt} ({cnt/total*100:.2f}%)")
        print(f"  {c}: " + ", ".join(parts))

    # Duplicate timestamps + max gap diagnostics
    print("\nDuplicate timestamps per city (fecha_local):")
    for c in sorted(dup_counts.keys()):
        print(f"  {c}: {dup_counts[c]:,}  ({dup_rates[c]:.4f}%)")

    print("\nMax gap between unique timestamps per city (days):")
    for c in sorted(max_gap_days.keys()):
        print(f"  {c}: {max_gap_days[c]}")

    # EVT preview (approx quantiles from samples)
    print("\nEVT preview (non-destructive):")
    for v in EVT_PREVIEW_FLOATS:
        if evt_minmax[v][0] is None:
            continue
        q = safe_quantiles(pd.Series(evt_sample[v], dtype="float64"), EVT_PREVIEW_Q)
        print(f"  {v}: min={evt_minmax[v][0]:.4g}, max={evt_minmax[v][1]:.4g}, "
              + ", ".join([f"q{int(qq*100)}={q[qq]:.4g}" for qq in q]))

    # Final schema
    try:
        schema = pq.read_schema(out_parquet)
        print("\nFinal Parquet schema:")
        print(schema)
    except Exception as e:
        print(f"\n(Info) Could not read final schema: {e}")

    print("\n=== Done ===")

    # Optional cleanup
    # shutil.rmtree(TMP_PARTS_DIR, ignore_errors=True)
    # shutil.rmtree(TMP_SORTED_DIR, ignore_errors=True)


if __name__ == "__main__":
    clean_evt_pipeline(csv_path=CSV_PATH, out_parquet=OUT_PARQUET, chunksize=CHUNKSIZE)

=== Phase 1: Chunked transform + per-city partition write ===
  processed rows so far: 1,500,000
  processed rows so far: 3,000,000
  processed rows so far: 4,500,000
  processed rows so far: 6,000,000

=== Phase 2: Per-city sort + diagnostics (duplicates, max gap) ===
  sorted city: Ambato
  sorted city: Cuenca
  sorted city: Esmeraldas
  sorted city: Guayaquil
  sorted city: Ibarra
  sorted city: Lago Agrio
  sorted city: Loja
  sorted city: Machala
  sorted city: Manta
  sorted city: Puerto Morona
  sorted city: Puyo
  sorted city: Quevedo
  sorted city: Quito
  sorted city: Santa Cruz Island
  sorted city: Santo Domingo
  sorted city: Zamora

=== Phase 3: Merge sorted city files into single Parquet (Snappy) ===
✅ Wrote: /content/drive/MyDrive/extreme-climate-forecasting/data/data_clima_clean.parquet

=== VALIDATION REPORT ===
Input rows:  6,445,858
Output rows: 6,445,858
✅ No observation loss

Datetime parse failures (dt_iso -> dt_utc): 0
Timezone mismatches (shifted - dt_utc != timezone): 0

Local-time range (fecha_local, naive local time):
  min: 1978-12-31 19:00:00
  max: 2024-10-19 18:00:00

Globally 100% null columns detected (dropped):
['grnd_level', 'sea_level', 'snow_1h', 'snow_3h']

Most-missing columns (top 15):
    column  missing_count  missing_pct
 sea_level        6445858   100.000000
grnd_level        6445858   100.000000
   snow_3h        6445858   100.000000
   snow_1h        6445858   100.000000
   rain_3h        6444360    99.976760
 wind_gust        6389392    99.123996
visibility        5409494    83.922016
   rain_1h        4134594    64.143424
    dt_iso              0     0.000000
        dt              0     0.000000
feels_like              0     0.000000
 dew_point              0     0.000000
  temp_max              0     0.000000
  timezone              0     0.000000
       lon              0     0.000000

City counts:
  Ambato: 402,756
  Cuenca: 402,742
  Esmeraldas: 401,736
  Guayaquil: 404,863
  Ibarra: 401,583
  Lago Agrio: 401,840
  Loja: 402,203
  Machala: 402,243
  Manta: 401,766
  Puerto Morona: 401,496
  Puyo: 403,356
  Quevedo: 402,121
  Quito: 411,112
  Santa Cruz Island: 401,496
  Santo Domingo: 403,049
  Zamora: 401,496

Timezone distribution per city (seconds offset):
  Ambato: -18000:401100 (99.59%), -14400:1656 (0.41%)
  Cuenca: -18000:401083 (99.59%), -14400:1659 (0.41%)
  Esmeraldas: -18000:400080 (99.59%), -14400:1656 (0.41%)
  Guayaquil: -18000:403175 (99.58%), -14400:1688 (0.42%)
  Ibarra: -18000:399927 (99.59%), -14400:1656 (0.41%)
  Lago Agrio: -18000:400185 (99.59%), -14400:1655 (0.41%)
  Loja: -18000:400545 (99.59%), -14400:1658 (0.41%)
  Machala: -18000:400587 (99.59%), -14400:1656 (0.41%)
  Manta: -18000:400111 (99.59%), -14400:1655 (0.41%)
  Puerto Morona: -18000:399841 (99.59%), -14400:1655 (0.41%)
  Puyo: -18000:401697 (99.59%), -14400:1659 (0.41%)
  Quevedo: -18000:400466 (99.59%), -14400:1655 (0.41%)
  Quito: -18000:409439 (99.59%), -14400:1673 (0.41%)
  Santa Cruz Island: -21600:338468 (84.30%), -18000:63028 (15.70%)
  Santo Domingo: -18000:401394 (99.59%), -14400:1655 (0.41%)
  Zamora: -18000:399841 (99.59%), -14400:1655 (0.41%)

Duplicate timestamps per city (fecha_local):
  Ambato: 2,483  (0.6165%)
  Cuenca: 2,478  (0.6153%)
  Esmeraldas: 480  (0.1195%)
  Guayaquil: 6,729  (1.6620%)
  Ibarra: 176  (0.0438%)
  Lago Agrio: 682  (0.1697%)
  Loja: 1,416  (0.3521%)
  Machala: 1,496  (0.3719%)
  Manta: 542  (0.1349%)
  Puerto Morona: 2  (0.0005%)
  Puyo: 3,720  (0.9223%)
  Quevedo: 1,250  (0.3109%)
  Quito: 18,842  (4.5832%)
  Santa Cruz Island: 4  (0.0010%)
  Santo Domingo: 2,795  (0.6935%)
  Zamora: 2  (0.0005%)

Max gap between unique timestamps per city (days):
  Ambato: 1
  Cuenca: 1
  Esmeraldas: 1
  Guayaquil: 1
  Ibarra: 1
  Lago Agrio: 1
  Loja: 1
  Machala: 1
  Manta: 1
  Puerto Morona: 1
  Puyo: 1
  Quevedo: 1
  Quito: 1
  Santa Cruz Island: 1
  Santo Domingo: 1
  Zamora: 1

EVT preview (non-destructive):
  temp: min=0.19, max=38.93, q95=28.6, q99=30.78
  rain_1h: min=0.1, max=48.77, q95=2.28, q99=4.78
  rain_3h: min=0.13, max=49, q95=3.56, q99=5.69
  wind_gust: min=0, max=149.2, q95=10.3, q99=13.86
  wind_speed: min=0, max=86.24, q95=5.1, q99=6.51

Final Parquet schema:
city_name: dictionary<values=string, indices=int32, ordered=0>
dt: int32
dt_iso: string
dt_utc: timestamp[ns, tz=UTC]
timezone: int16
fecha_local: timestamp[ns]
year: int32
month: int32
day: int32
hour: int32
lat: float
lon: float
temp: float
visibility: float
dew_point: float
feels_like: float
temp_min: float
temp_max: float
pressure: int16
humidity: int8
wind_speed: float
wind_deg: int16
wind_gust: float
rain_1h: float
rain_3h: float
clouds_all: int8
weather_id: int16
weather_main: dictionary<values=string, indices=int32, ordered=0>
weather_description: dictionary<values=string, indices=int32, ordered=0>
weather_icon: dictionary<values=string, indices=int32, ordered=0>
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 3702

=== Done ===

### Check dataset

In [3]:
# Load the dataset
my_file = 'data_clima_clean.parquet'
file_path = f'/content/drive/MyDrive/extreme-climate-forecasting/data/{my_file}'

try:
    # data = pd.read_csv(file_path)   # dataset name
    data = pd.read_parquet(file_path)
    print(f"Shape: {data.shape}")
except FileNotFoundError:
    print(f"Error: File not found at {file_path}")

Shape: (6445858, 30)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6445858 entries, 0 to 6445857
Data columns (total 30 columns):
 #   Column               Dtype
---  ------               -----
 0   city_name            category
 1   dt                   int32
 2   dt_iso               object
 3   dt_utc               datetime64[ns, UTC]
 4   timezone             int16
 5   fecha_local          datetime64[ns]
 6   year                 int32
 7   month                int32
 8   day                  int32
 9   hour                 int32
 10  lat                  float32
 11  lon                  float32
 12  temp                 float32
 13  visibility           float32
 14  dew_point            float32
 15  feels_like           float32
 16  temp_min             float32
 17  temp_max             float32
 18  pressure             int16
 19  humidity             int8
 20  wind_speed           float32
 21  wind_deg             int16
 22  wind_gust            float32
 23  rain_1h              float32
 24  rain_3h              float32
 25  clouds_all           int8
 26  weather_id           int16
 27  weather_main         category
 28  weather_description  category
 29  weather_icon         category
dtypes: category(4), datetime64[ns, UTC](1), datetime64[ns](1), float32(12), int16(4), int32(5), int8(2), object(1)
memory usage: 651.6+ MB

In [5]:
data # head and tail

,city_name,dt,dt_iso,dt_utc,timezone,fecha_local,year,month,day,hour,...,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,Ambato,283996800,1979-01-01 00:00:00 +0000 UTC,1979-01-01 00:00:00+00:00,-18000,1978-12-31 19:00:00,1978,12,31,19,...,1.88,112,NaN,NaN,NaN,44,802,Clouds,scattered clouds,03n
1,Ambato,284000400,1979-01-01 01:00:00 +0000 UTC,1979-01-01 01:00:00+00:00,-18000,1978-12-31 20:00:00,1978,12,31,20,...,1.68,101,NaN,NaN,NaN,92,804,Clouds,overcast clouds,04n
2,Ambato,284004000,1979-01-01 02:00:00 +0000 UTC,1979-01-01 02:00:00+00:00,-18000,1978-12-31 21:00:00,1978,12,31,21,...,1.51,103,NaN,NaN,NaN,93,804,Clouds,overcast clouds,04n
3,Ambato,284007600,1979-01-01 03:00:00 +0000 UTC,1979-01-01 03:00:00+00:00,-18000,1978-12-31 22:00:00,1978,12,31,22,...,1.47,107,NaN,NaN,NaN,93,804,Clouds,overcast clouds,04n
4,Ambato,284011200,1979-01-01 04:00:00 +0000 UTC,1979-01-01 04:00:00+00:00,-18000,1978-12-31 23:00:00,1978,12,31,23,...,1.45,111,NaN,NaN,NaN,95,804,Clouds,overcast clouds,04n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6445853,Zamora,1729364400,2024-10-19 19:00:00 +0000 UTC,2024-10-19 19:00:00+00:00,-18000,2024-10-19 14:00:00,2024,10,19,14,...,2.64,88,1.80,NaN,NaN,55,803,Clouds,broken clouds,04d
6445854,Zamora,1729368000,2024-10-19 20:00:00 +0000 UTC,2024-10-19 20:00:00+00:00,-18000,2024-10-19 15:00:00,2024,10,19,15,...,2.36,58,3.01,NaN,NaN,54,803,Clouds,broken clouds,04d
6445855,Zamora,1729371600,2024-10-19 21:00:00 +0000 UTC,2024-10-19 21:00:00+00:00,-18000,2024-10-19 16:00:00,2024,10,19,16,...,2.36,58,3.01,NaN,NaN,54,803,Clouds,broken clouds,04d
6445856,Zamora,1729375200,2024-10-19 22:00:00 +0000 UTC,2024-10-19 22:00:00+00:00,-18000,2024-10-19 17:00:00,2024,10,19,17,...,2.36,58,3.01,NaN,NaN,54,803,Clouds,broken clouds,04d
6445857,Zamora,1729378800,2024-10-19 23:00:00 +0000 UTC,2024-10-19 23:00:00+00:00,-18000,2024-10-19 18:00:00,2024,10,19,18,...,1.69,11,1.53,NaN,NaN,100,804,Clouds,overcast clouds,04d

In [6]:
data.describe()    # Get summary statistics

,dt,timezone,fecha_local,year,month,day,hour,lat,lon,temp,...,temp_max,pressure,humidity,wind_speed,wind_deg,wind_gust,rain_1h,rain_3h,clouds_all,weather_id
count,6.445858e+06,6.445858e+06,6445858,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,...,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,6.445858e+06,56466.000000,2.311264e+06,1498.000000,6.445858e+06,6.445858e+06
mean,1.007273e+09,-1.817513e+04,2001-12-02 00:58:41.613666688,2.001420e+03,6.499152e+00,1.572299e+01,1.150095e+01,-1.480567e+00,-7.963538e+01,2.110215e+01,...,2.206570e+01,1.013676e+03,8.419744e+01,1.924652e+00,1.818743e+02,2.135571,6.772044e-01,1.307477,7.948018e+01,6.910056e+02
min,2.839968e+08,-2.160000e+04,1978-12-31 19:00:00,1.978000e+03,1.000000e+00,1.000000e+00,0.000000e+00,-4.062094e+00,-9.033719e+01,1.900000e-01,...,1.990000e+00,1.001000e+03,1.000000e+00,0.000000e+00,0.000000e+00,0.000000,1.000000e-01,0.130000,0.000000e+00,2.000000e+02
25%,6.460164e+08,-1.800000e+04,1990-06-21 20:00:00,1.990000e+03,4.000000e+00,8.000000e+00,6.000000e+00,-2.882745e+00,-7.965300e+01,1.758000e+01,...,1.885000e+01,1.011000e+03,7.800000e+01,8.900000e-01,1.010000e+02,0.000000,1.800000e-01,0.645000,6.900000e+01,5.000000e+02
50%,1.007658e+09,-1.800000e+04,2001-12-06 12:00:00,2.001000e+03,7.000000e+00,1.600000e+01,1.200000e+01,-1.022512e+00,-7.900590e+01,2.194000e+01,...,2.274000e+01,1.013000e+03,8.700000e+01,1.500000e+00,1.840000e+02,0.000000,3.400000e-01,1.000000,9.200000e+01,8.020000e+02
75%,1.368598e+09,-1.800000e+04,2013-05-15 01:00:00,2.013000e+03,9.000000e+00,2.300000e+01,1.700000e+01,-2.232520e-01,-7.851411e+01,2.465000e+01,...,2.537000e+01,1.016000e+03,9.300000e+01,2.600000e+00,2.610000e+02,3.130000,7.600000e-01,1.130000,9.900000e+01,8.040000e+02
max,1.729379e+09,-1.440000e+04,2024-10-19 18:00:00,2.024000e+03,1.200000e+01,3.100000e+01,2.300000e+01,9.705810e-01,-7.691194e+01,3.893000e+01,...,3.946000e+01,1.029000e+03,1.000000e+02,8.624000e+01,3.600000e+02,149.199997,4.877000e+01,49.000000,1.000000e+02,8.040000e+02
std,4.172152e+08,8.365979e+02,NaN,1.322073e+01,3.443060e+00,8.798920e+00,6.920700e+00,1.538459e+00,5.083071e+00,4.984807e+00,...,4.784522e+00,3.627487e+00,1.224997e+01,1.469900e+00,9.260996e+01,3.655935,1.018558e+00,2.128318,2.551184e+01,1.461824e+02

### Unique values

In [7]:
# Checks unique values in every column
for col in data.columns:
    unique_values = data[col].unique()
    print(f"Column '{col}':")
    print(unique_values)
    print(f"Number of unique values: {len(unique_values)}")
    print("-" * 60)
    print()

Column 'city_name':
['Ambato', 'Cuenca', 'Esmeraldas', 'Guayaquil', 'Ibarra', ..., 'Quevedo', 'Quito', 'Santa Cruz Island', 'Santo Domingo', 'Zamora']
Length: 16
Categories (16, object): ['Ambato', 'Cuenca', 'Quito', 'Santo Domingo', ..., 'Manta', 'Quevedo',
                          'Puerto Morona', 'Santa Cruz Island']
Number of unique values: 16
------------------------------------------------------------

Column 'dt':
[ 283996800  284000400  284004000 ... 1729371600 1729375200 1729378800]
Number of unique values: 401496
------------------------------------------------------------

Column 'dt_iso':
['1979-01-01 00:00:00 +0000 UTC' '1979-01-01 01:00:00 +0000 UTC'
 '1979-01-01 02:00:00 +0000 UTC' ... '2024-10-19 21:00:00 +0000 UTC'
 '2024-10-19 22:00:00 +0000 UTC' '2024-10-19 23:00:00 +0000 UTC']
Number of unique values: 401496
------------------------------------------------------------

Column 'dt_utc':
<DatetimeArray>
['1979-01-01 00:00:00+00:00', '1979-01-01 01:00:00+00:00',
 '1979-01-01 02:00:00+00:00', '1979-01-01 03:00:00+00:00',
 '1979-01-01 04:00:00+00:00', '1979-01-01 05:00:00+00:00',
 '1979-01-01 06:00:00+00:00', '1979-01-01 07:00:00+00:00',
 '1979-01-01 08:00:00+00:00', '1979-01-01 09:00:00+00:00',
 ...
 '2024-10-19 14:00:00+00:00', '2024-10-19 15:00:00+00:00',
 '2024-10-19 16:00:00+00:00', '2024-10-19 17:00:00+00:00',
 '2024-10-19 18:00:00+00:00', '2024-10-19 19:00:00+00:00',
 '2024-10-19 20:00:00+00:00', '2024-10-19 21:00:00+00:00',
 '2024-10-19 22:00:00+00:00', '2024-10-19 23:00:00+00:00']
Length: 401496, dtype: datetime64[ns, UTC]
Number of unique values: 401496
------------------------------------------------------------

Column 'timezone':
[-18000 -14400 -21600]
Number of unique values: 3
------------------------------------------------------------

Column 'fecha_local':
<DatetimeArray>
['1978-12-31 19:00:00', '1978-12-31 20:00:00', '1978-12-31 21:00:00',
 '1978-12-31 22:00:00', '1978-12-31 23:00:00', '1979-01-01 00:00:00',
 '1979-01-01 01:00:00', '1979-01-01 02:00:00', '1979-01-01 03:00:00',
 '1979-01-01 04:00:00',
 ...
 '2024-10-19 09:00:00', '2024-10-19 10:00:00', '2024-10-19 11:00:00',
 '2024-10-19 12:00:00', '2024-10-19 13:00:00', '2024-10-19 14:00:00',
 '2024-10-19 15:00:00', '2024-10-19 16:00:00', '2024-10-19 17:00:00',
 '2024-10-19 18:00:00']
Length: 401495, dtype: datetime64[ns]
Number of unique values: 401495
------------------------------------------------------------

Column 'year':
[1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019
 2020 2021 2022 2023 2024]
Number of unique values: 47
------------------------------------------------------------

Column 'month':
[12  1  2  3  4  5  6  7  8  9 10 11]
Number of unique values: 12
------------------------------------------------------------

Column 'day':
[31  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30]
Number of unique values: 31
------------------------------------------------------------

Column 'hour':
[19 20 21 22 23  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18]
Number of unique values: 24
------------------------------------------------------------

Column 'lat':
[-1.254341 -2.900129  0.970581 -2.189134  0.347147  0.112778 -3.995207
 -3.258111 -0.967653 -2.882745 -1.492881 -1.022512 -0.223252 -0.639359
 -0.253841 -4.062094]
Number of unique values: 16
------------------------------------------------------------

Column 'lon':
[-78.62285 -79.0059  -79.653   -79.8899  -78.13236 -76.91194 -79.20221
 -79.95539 -80.70891 -77.68781 -77.9998  -79.4604  -78.51411 -90.33719
 -79.17633 -78.94862]
Number of unique values: 16
------------------------------------------------------------

Column 'temp':
[15.88 15.12 14.59 ...  4.17  3.97  3.57]
Number of unique values: 3341
------------------------------------------------------------

Column 'visibility':
[      nan 1.500e+03 3.000e+02 1.000e+04 2.000e+03 6.000e+03 6.000e+02
 1.000e+03 8.000e+02 2.800e+03 3.200e+03 1.000e+02 3.800e+03 4.000e+03
 3.000e+03 8.000e+03 5.000e+03 7.000e+03 4.500e+03 4.700e+03 1.300e+03
 2.600e+03 2.200e+03 5.000e+02 2.000e+02 1.200e+03 4.000e+02 3.600e+03
 2.100e+03 9.999e+03 9.000e+03 4.200e+03 9.900e+03 7.000e+02 1.700e+03
 4.100e+03 2.500e+03 1.800e+03 4.600e+03 3.900e+03 3.300e+03 1.600e+03
 2.300e+01 2.700e+01 3.290e+03 3.100e+03 8.880e+02 1.002e+03 4.900e+03
 4.800e+03 1.900e+03 9.890e+02 9.930e+02 2.400e+03 9.000e+02 3.500e+03
 1.100e+03 3.400e+03 2.300e+03 8.200e+02 2.101e+03 9.995e+03 9.990e+03
 5.999e+03 5.006e+03 6.666e+03 9.599e+03 9.959e+03 9.990e+02 5.599e+03
 8.080e+03 9.993e+03 1.999e+03 9.991e+03 6.008e+03 4.828e+03 3.218e+03
 8.050e+02 8.046e+03 9.656e+03 2.011e+03 1.006e+03 1.609e+03 6.437e+03
 8.888e+03 2.206e+03 2.108e+03 2.009e+03 2.210e+03 2.110e+03 2.005e+03
 2.301e+03 2.007e+03 2.208e+03 4.040e+02 2.006e+03 2.004e+03 1.804e+03
 2.008e+03 2.207e+03 9.099e+03 9.699e+03 1.802e+03 2.305e+03 2.003e+03
 1.902e+03 7.010e+02 1.100e+01 9.899e+03 3.500e+02 3.300e+02 4.400e+03
 1.400e+03 4.900e+01 1.700e+01 1.400e+01 9.998e+03 9.900e+01 9.595e+03
 9.939e+03 4.023e+03 8.001e+03 9.919e+03 9.199e+03 9.989e+03 2.816e+03
 3.700e+03 4.830e+02 9.050e+02 2.604e+03 7.003e+03 1.502e+03 2.808e+03
 2.307e+03 9.020e+02 2.909e+03 3.009e+03 2.001e+03 2.102e+03 2.104e+03
 2.002e+03 2.403e+03 2.804e+03 3.330e+03 1.905e+03 8.010e+03 2.109e+03
 2.700e+03 2.012e+03 2.203e+03 9.800e+03 1.900e+01 9.000e+00 3.007e+03
 5.000e+01 3.999e+03 2.907e+03 8.800e+03 8.200e+03 8.900e+03 6.800e+03
 8.300e+03 8.700e+03 9.700e+03 6.080e+03 8.999e+03 6.040e+03 4.080e+03
 6.010e+03 6.100e+03 5.010e+02 4.010e+03 2.414e+03 4.999e+03 7.050e+02
 6.020e+02 1.030e+02 3.405e+03 3.002e+03 8.030e+02 8.020e+02 7.040e+02
 2.030e+02 3.301e+03 1.004e+03 3.306e+03 3.201e+03 9.400e+03 3.103e+03
 9.010e+02 3.302e+03]
Number of unique values: 191
------------------------------------------------------------

Column 'dew_point':
[14.07 13.49 12.8  ... 29.68 29.54 30.23]
Number of unique values: 3993
------------------------------------------------------------

Column 'feels_like':
[15.85 15.04 14.43 ...  1.6   2.33 41.53]
Number of unique values: 3995
------------------------------------------------------------

Column 'temp_min':
[13.33 12.38 12.11 ... 35.2   2.45  1.42]
Number of unique values: 3407
------------------------------------------------------------

Column 'temp_max':
[17.21 16.64 15.95 ...  4.72  2.97 36.28]
Number of unique values: 3300
------------------------------------------------------------

Column 'pressure':
[1015 1016 1017 1018 1019 1020 1014 1013 1021 1012 1011 1022 1023 1024
 1025 1026 1027 1028 1010 1009 1008 1029 1007 1006 1005 1004 1003 1002
 1001]
Number of unique values: 29
------------------------------------------------------------

Column 'humidity':
[ 89  90  98  99  97  91  87  64  55  52  57  58  73  75  78  86  94 100
  96  70  71  66  67  69  76  81  92  93  74  59  61  65  79  77  83  72
  95  82  80  84  62  85  88  68  56  63  53  54  60  51  49  46  47  48
  41  40  38  33  35  43  45  36  39  34  44  50  42  37  31  30  27  29
  28  32  22  23  20  26  25  24  21  18  19  15  14  16  17   1   8  11
   5  10  12  13   9   6   7   3   2   4]
Number of unique values: 100
------------------------------------------------------------

Column 'wind_speed':
[1.88 1.68 1.51 ... 8.68 8.69 8.54]
Number of unique values: 1081
------------------------------------------------------------

Column 'wind_deg':
[112 101 103 107 111 116 120 123 134 158 146 147 135 117 105 114 115 102
 104 132 140 127 122 108 113 110 125  93 100 109 106 157  95  96  99 119
  98 121 130 129 133 143 124 172 261 203 248 268 287 168 241 179 356 211
 164 262 283 278 265 257 240 222 204 221 276 260 246  97 131 128 118 144
 142 137 302 270 215 151 138 136 126  92  82  84  85 161 152 150 200 312
 198 190 298 317 307 279  88  87  71  29 332 310 263 251 236 202 188  94
 173 325  54  68 183 284 300 288 291 286 229  86  79 139 176 178  80 159
 156 174  89 166 177 149  90 169 145  48   2 311 303 304 244 282 290 232
 264  83  63  75  67  77 155 195 224 162 141 207 199 170 153 271 234 160
 225 238 185 292 187 165 171  59  81  74 219 154  58  91 258 275 357 336
 319 294 289 274 210 350  46 267 269 327 243 277 280 206  65  78 192 148
 226 233 306 313 272 250 239 209 227  15 252 249 184 163 167 235 253 254
 295  32 242 181 196 175 212 230 344  76  69 218 285 266 273 255  36 220
 299 335 297 338 309 201 301 216 217 186 191   0  70 213 193 197 328 296
 308 259  35  45  72 194 247 256 205 293  14 281 189 245  42  18 314 214
  61 321 326 228 305  44  51  38  22 333 348  23 334 180 182 237  10 318
 345  37  73 331 349  24  50 353 342 358 315 231  60 359 330  40 339   1
  21 337  27  64 324  55  12 341 316 322  52   6  62  39 352 320 208  66
  56  57 360 351 323 329 223  53  34 343  28  49   5  26   7  16  20   3
  25  30  19  33  13   9  41  11   8 340  31  43 354   4 346  47 347 355
  17]
Number of unique values: 361
------------------------------------------------------------

Column 'wind_gust':
[      nan 0.000e+00 7.710e+00 5.140e+00 2.570e+00 3.600e+00 6.170e+00
 1.028e+01 8.740e+00 1.439e+01 1.285e+01 1.131e+01 1.030e+00 1.645e+01
 3.080e+00 1.542e+01 1.696e+01 1.953e+01 9.250e+00 1.234e+01 1.388e+01
 1.491e+01 4.110e+00 5.650e+00 1.540e+00 9.770e+00 1.079e+01 1.182e+01
 1.336e+01 2.060e+00 6.680e+00 1.748e+01 7.200e+00 2.240e+00 4.470e+00
 5.360e+00 6.710e+00 7.600e+00 1.118e+01 9.830e+00 8.940e+00 3.130e+00
 8.900e-01 4.020e+00 6.260e+00 1.162e+01 5.810e+00 1.252e+01 1.431e+01
 1.341e+01 2.680e+00 1.340e+00 3.580e+00 4.500e-01 7.150e+00 9.390e+00
 8.050e+00 1.073e+01 1.386e+01 1.699e+01 8.100e-01 2.630e+00 1.600e+00
 1.820e+00 1.300e+00 1.620e+00 2.040e+00 1.420e+00 2.230e+00 1.210e+00
 8.700e-01 2.530e+00 1.720e+00 1.200e+00 1.020e+00 1.730e+00 2.330e+00
 1.610e+00 7.400e-01 1.310e+00 7.100e-01 1.630e+00 1.510e+00 2.950e+00
 3.300e+00 3.620e+00 3.640e+00 1.640e+00 4.530e+00 4.400e+00 3.800e+00
 3.220e+00 5.410e+00 5.400e+00 2.620e+00 3.920e+00 2.220e+00 2.820e+00
 2.540e+00 3.940e+00 3.610e+00 4.240e+00 2.050e+00 4.160e+00 3.820e+00
 3.950e+00 3.960e+00 2.510e+00 4.510e+00 3.810e+00 3.150e+00 1.970e+00
 2.010e+00 2.340e+00 2.700e+00 1.130e+00 1.020e+01 1.030e+01 9.300e+00
 6.200e+00 8.700e+00 1.290e+01 9.800e+00 1.080e+01 7.700e+00 1.230e+01
 8.200e+00 1.130e+01 9.260e+00 1.029e+01 8.750e+00 1.235e+01 1.132e+01
 1.286e+01 1.180e+01 5.660e+00 1.390e+01 1.338e+01 1.440e+01 6.700e+00
 1.389e+01 1.183e+01 1.340e+01 7.720e+00 6.690e+00 8.800e+00 1.490e+01
 1.543e+01 1.010e+00 1.530e+00 1.700e+00 2.150e+00 1.660e+00 1.840e+00
 1.000e+00 1.220e+00 8.400e-01 8.300e-01 3.300e-01 5.000e-01 5.700e-01
 1.230e+00 6.200e-01 6.500e-01 1.280e+00 2.030e+00 9.300e-01 4.300e-01
 9.200e-01 1.950e+00 1.140e+00 1.930e+00 1.800e+00 1.900e+00 2.430e+00
 3.020e+00 2.710e+00 3.110e+00 3.000e+00 2.830e+00 2.910e+00 1.740e+00
 1.940e+00 1.240e+00 2.120e+00 8.500e-01 2.160e+00 2.420e+00 2.850e+00
 3.100e+00 2.350e+00 2.090e+00 2.670e+00 1.770e+00 1.450e+00 2.800e+00
 6.300e-01 8.230e+00 5.210e+00 5.130e+00 5.000e+00 4.620e+00 4.870e+00
 6.600e+00 6.820e+00 6.940e+00 6.220e+00 4.820e+00 3.830e+00 4.000e+00
 4.370e+00 4.720e+00 4.200e+00 4.030e+00 4.220e+00 3.650e+00 3.230e+00
 2.930e+00 3.840e+00 3.910e+00 4.210e+00 4.230e+00 4.540e+00 4.830e+00
 4.100e+00 4.520e+00 5.240e+00 5.630e+00 4.930e+00 6.300e+00 7.500e+00
 7.430e+00 4.640e+00 4.320e+00 2.730e+00 3.730e+00 3.720e+00 4.920e+00
 5.320e+00 5.600e+00 3.440e+00 3.240e+00 2.940e+00 4.310e+00 3.140e+00
 3.340e+00 3.260e+00 4.350e+00 3.750e+00 4.050e+00 4.380e+00 4.290e+00
 4.630e+00 6.140e+00 7.300e+00 6.040e+00 5.610e+00 5.930e+00 3.860e+01
 1.540e+01 5.700e+00 5.100e+00 1.700e+01 1.240e+01 1.852e+01 1.790e+00
 8.490e+00 5.330e+00 2.270e+00 2.550e+00 1.520e+00 6.530e+00 3.310e+00
 3.370e+00 3.630e+00 1.850e+00 7.510e+00 3.430e+00 2.440e+00 3.250e+00
 3.120e+00 1.920e+00 1.830e+00 1.400e+00 1.710e+00 3.050e+00 2.320e+00
 2.360e+00 5.910e+00 3.710e+00 2.380e+00 4.140e+00 3.200e+00 1.070e+00
 1.350e+00 3.160e+00 2.400e+00 4.200e-01 8.200e-01 1.110e+00 4.000e-01
 7.700e-01 7.300e-01 2.020e+00 5.500e-01 1.180e+00 3.030e+00 2.410e+00
 6.400e-01 6.100e-01 7.000e-01 2.740e+00 2.720e+00 4.850e+00 1.330e+00
 1.500e+00 9.000e-01 6.430e+00 5.220e+00 3.210e+00 3.900e+00 4.500e+00
 3.930e+00 1.320e+00 7.200e-01 2.200e+00 2.640e+00 3.100e-01 1.150e+00
 1.060e+00 1.650e+00 2.460e+00 1.410e+00 5.100e-01 2.180e+00 3.570e+00
 9.500e-01 2.300e+00 3.910e+01 1.170e+00 3.560e+00 6.000e-01 6.700e-01
 1.120e+00 7.800e-01 2.210e+00 1.040e+00 1.430e+00 2.130e+00 3.040e+00
 6.100e+00 8.000e-01 9.100e-01 9.400e-01 2.310e+00 1.260e+00 1.560e+00
 1.050e+00 1.580e+00 1.590e+00 1.470e+00 5.300e-01 9.530e+00 1.330e+01
 1.800e+01 1.650e+01 1.600e+01 1.646e+01 1.850e+01 1.590e+01 1.750e+01
 1.492e+02 1.960e+01 1.595e+01 1.698e+01 1.749e+01 1.492e+01 1.654e+01
 1.609e+01 1.565e+01 1.520e+01 1.207e+01 1.475e+01 1.296e+01 5.200e-01
 9.700e-01 2.840e+00 1.480e+00 4.100e-01 4.430e+00 4.130e+00 2.450e+00
 5.600e-01 2.960e+00 2.580e+00 3.990e+00 2.470e+00 5.400e-01 2.660e+00
 1.910e+00 1.370e+00 2.110e+00 7.500e-01 4.400e-01 1.100e+00 2.600e+00
 2.650e+00 1.860e+00 1.250e+00 2.010e+01 1.950e+01 3.290e+01 1.900e+01
 2.310e+01 8.040e+00 8.340e+00 5.920e+00 6.810e+00 5.830e+00 5.030e+00
 6.210e+00 5.420e+00 4.840e+00 8.300e+00 7.400e+00 7.030e+00 7.540e+00
 7.420e+00 4.700e+00 6.120e+00 5.350e+00 4.120e+00 5.110e+00 5.540e+00
 4.750e+00 8.010e+00 8.440e+00 7.800e+00 7.140e+00 8.910e+00 2.520e+00
 2.000e+00 1.380e+00 2.140e+00 2.610e+00 2.500e+00 2.560e+00 2.480e+00
 1.690e+00 2.870e+00 1.870e+00 2.100e+00 2.170e+00 9.600e-01 2.070e+00
 5.800e-01 1.550e+00 3.520e+00 3.530e+00 1.160e+00 1.810e+00 1.490e+00
 5.530e+00 4.300e+00 1.570e+00 1.460e+00 5.520e+00 5.840e+00 3.320e+00
 2.920e+00 2.750e+00 4.800e-01 3.410e+00 3.510e+00 2.810e+00 5.250e+00
 3.500e+00 1.750e+00 6.030e+00 5.900e+00 4.610e+00 5.510e+00 4.440e+00
 3.860e+00 7.110e+00 4.710e+00 4.010e+00 1.090e+00 1.670e+00 5.230e+00
 6.350e+00 6.610e+00 5.040e+00 3.700e+00 1.640e+01 1.280e+01 1.380e+01
 9.200e+00 9.700e+00 2.050e+01 8.600e-01 9.800e-01 1.390e+00 4.800e+00
 5.470e+00 5.850e+00 6.460e+00 6.340e+00 6.000e+00 5.720e+00 5.500e+00
 6.630e+00 6.410e+00 5.370e+00 6.110e+00 6.420e+00 5.800e+00 6.480e+00
 6.230e+00 4.910e+00 4.040e+00 5.310e+00 5.640e+00 5.200e+00 5.820e+00
 5.340e+00 5.620e+00 4.410e+00 4.420e+00 4.900e+00 5.450e+00 6.540e+00
 6.150e+00 5.160e+00 4.860e+00 3.850e+00 4.080e+00 4.190e+00 4.570e+00
 4.970e+00 4.810e+00 4.600e+00 6.330e+00 3.330e+00 1.270e+00 8.800e-01
 5.710e+00 2.900e+00 6.620e+00 4.940e+00 1.440e+00 6.050e+00 3.760e+00
 1.290e+00 4.250e+00 1.400e-01 3.740e+00 1.360e+00 4.450e+00 4.090e+00
 3.010e+00]
Number of unique values: 561
------------------------------------------------------------

Column 'rain_1h':
[  nan  0.1   0.32 ... 12.18 19.65 12.84]
Number of unique values: 1909
------------------------------------------------------------

Column 'rain_3h':
[  nan  1.    0.25  4.19  1.25  5.69  0.81  0.5   0.69  2.25  0.19  4.75
  3.13  0.31  0.13  1.69  1.13  1.5   1.19  4.06  2.    0.56  1.88  0.38
  1.56  2.94  2.63  1.94  0.75  0.88  0.94  0.44  3.    3.88  2.69  2.19
  4.63  2.81  3.44  1.31  1.63  1.06  0.63  2.56  2.44  8.    1.44  2.75
  2.31  3.63  4.    3.75  1.75 13.25  4.88  2.38  2.88  3.06  5.25  2.5
  4.56  3.25  0.8   3.56  5.38  3.94  1.38  7.    9.81 49.    2.06]
Number of unique values: 71
------------------------------------------------------------

Column 'clouds_all':
[ 44  92  93  95  96  99 100  98  97  85  61  49  54  33  39  58  45  53
  51  72  79  80  91  69  81  46  74  87  90  47  52  70  94  82  41  55
  63  78  76  68  56  67  88  71  66  59  86  37  42  35  84  62  83  57
  40  60  22  29  31  32  38  73  64  77  17  34  14   9  13  65  75  30
  43  15  24  12  16   8  11  23  26   7   5  89  28  19  20  48  36  50
  18  27   6  21  10   1   2   3  25   0   4]
Number of unique values: 101
------------------------------------------------------------

Column 'weather_id':
[802 804 500 803 501 801 800 502 741 721 300 211 711 701 301 310 520 761
 201 302 521 311 200 503 731 202 771 781 762 230 210 522 312 611 612]
Number of unique values: 35
------------------------------------------------------------

Column 'weather_main':
['Clouds', 'Rain', 'Clear', 'Fog', 'Haze', ..., 'Dust', 'Squall', 'Tornado', 'Ash', 'Snow']
Length: 14
Categories (14, object): ['Ash', 'Clear', 'Clouds', 'Drizzle', ..., 'Dust', 'Snow', 'Squall',
                          'Tornado']
Number of unique values: 14
------------------------------------------------------------

Column 'weather_description':
['scattered clouds', 'overcast clouds', 'light rain', 'broken clouds', 'moderate rain', ..., 'light thunderstorm', 'heavy intensity shower rain', 'heavy intensity rain and drizzle', 'sleet', 'light shower sleet']
Length: 37
Categories (37, object): ['broken clouds', 'drizzle', 'few clouds', 'fog', ..., 'proximity tornado',
                          'sleet', 'very heavy rain', 'heavy intensity rain and drizzle']
Number of unique values: 37
------------------------------------------------------------

Column 'weather_icon':
['03n', '04n', '04d', '10d', '03d', ..., '50n', '09n', '11n', '13d', '13n']
Length: 18
Categories (18, object): ['01d', '01n', '02d', '02n', ..., '50d', '50n', '13d', '13n']
Number of unique values: 18
------------------------------------------------------------

### Missing values

In [8]:
# Analyze missing values
missing_values = data.isnull().sum()
missing_percentage = (missing_values / len(data)* 100).round(4)

# Display columns with missing values and their percentages
missing_data_summary = missing_values[missing_values > 0].to_frame(name="Missing Count")
missing_data_summary["Missing Percentage"] = missing_percentage[missing_values > 0]
missing_data_summary

            Missing Count  Missing Percentage
visibility        5409494             83.9220
wind_gust         6389392             99.1240
rain_1h           4134594             64.1434
rain_3h           6444360             99.9768